@import url('reset.css');
@import url('fonts.css');

:root {
	--bg-color: #F8F8F8;

	--primary-size: 1.75rem;
	--primary-color: black;

	--secondary-size: 1.5rem;
	--secondary-color: #666;

	--additional-size: 1rem;
	--additional-color: black;

	--font-family--serif: 'Libre Caslon Text Regular', Georgia, serif;
	--font-family--sans-serif: 'Figtree Regular', Calibri, sans-serif;

	--section-spacing: 2.5rem;

	--content-max-width: 900px;
}

body {
	box-sizing: border-box;

	font: 16pt/1.2 serif;
	font-family: var(--font-family--sans-serif);
	margin: 0;
	padding: clamp(2rem, 5svw, 3rem);

	background-color: var(--bg-color);

	width: 100%;
}

.content-wrapper {
	max-width: var(--content-max-width);
}

body > h1 {
	margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family--serif);
}

p {
	font-family: var(--font-family--sans-serif);
}

.text--primary {
	font-family: var(--font-family--serif);
	font-size: var(--primary-size);
	color: var(--primary-color);
}

.text--secondary {
	font-family: var(--font-family--serif);
	font-size: var(--secondary-size);
	color: var(--secondary-color);
}

.text--additional {
	font-family: var(--font-family--sans-serif);
	font-size: var(--additional-size);
	line-height: 1.6;
	color: var(--additional-color);
}

.text--italic {
	font-style: italic;
}

/** List styles */

body > * + * {
	margin-block-start: var(--section-spacing);
}

.description {
	font-size: 1.25rem;
}

.description > p + p {
	margin-block-start: 0.75rem;
}

.list {
	padding-inline-start: 3rem;
}

.list.list--no-style {
	padding: 0;
	list-style: none;
}

.list__item::marker {
	font-size: var(--primary-size);
	font-family: var(--font-family--serif);
	color: var(--primary-color);
}

.list__item + .list__item {
	margin-block-start: 2rem;
}

.list__item:target .text--primary {
	border-radius: 5px;
	background-color: #ffd280;
}

.list__item__container {
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem 1rem;
}

.list__item__container > [data-words-box]:first-child {
	flex: 1 0 250px;
}

.list__item__container > [data-words-box]:last-child {
	flex: 1 1 300px;
}

.list__item__container > [data-words-box] > * {
	margin: 0;
	padding: 0;
}

.list__item__container > [data-words-box] > * + * {
	margin-block-start: 0.5rem;
}

.item-supplemental::marker {
	font-size: var(--secondary-size);
	content: var(--supplemental-item-marker, '• '); /* --supplemental-item-marker comes from markup as inline style */
}

[data-item-essential] {
	--fade-distance: 1rem;
	padding-bottom: var(--fade-distance);

	position: sticky;
	top: 0;

    --bg-distance: calc(90% + var(--fade-distance));
	background-image: linear-gradient(to bottom, var(--bg-color) 85%, transparent);
}

.anchor-link {
	color: inherit;
}

.anchor-link {
	text-decoration: none;
}

.anchor-link:hover {
	text-decoration: underline;
}

/** Badges **/

.badge {
	display: inline-block;

	font-size: 0.8rem;
	text-transform: uppercase;

	border-radius: 5px;

	margin-inline-start: 1ch;
	padding: 0.2rem 0.4rem;
}

.badge--released {
	background-color: palegreen;
}

.badge--draft {
	background-color: lightpink;
}
