@import url('reset.css');
@import url('fonts.css');

:root {
	--primary-size: 1.75rem;
	--primary-color: black;

	--secondary-size: 1.5rem;
	--secondary-color: #666;

	--additional-size: 1rem;
	--additional-color: black;

	--font-family--serif: 'Libre Caslon Text Regular', Georgia, serif;
	--font-family--sans-serif: 'Figtree Regular', Calibri, sans-serif;

	--section-spacing: 2.5rem;
}

body {
	font: 16pt/1.2 serif;
	font-family: var(--font-family--sans-serif);
	margin: 2rem;
	padding: 0;

	max-width: 800px;
}

body > h1 {
	margin: 0;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--font-family--serif);
}

p {
	font-family: var(--font-family--sans-serif);
}

.text--primary {
	font-family: var(--font-family--serif);
	font-size: var(--primary-size);
	color: var(--primary-color);
}

.text--secondary {
	font-family: var(--font-family--serif);
	font-size: var(--secondary-size);
	color: var(--secondary-color);
}

.text--additional {
	font-family: var(--font-family--sans-serif);
	font-size: var(--additional-size);
	color: var(--additional-color);
}

/** List styles */

body > * + * {
	margin-block-start: var(--section-spacing);
}

.description {
	font-size: 1.25rem;
}

.description > p + p {
	margin-block-start: 0.75rem;
}

.list {
	padding-inline-start: var(--primary-size);
}

.list.list--no-style {
	padding: 0;
	list-style: none;
}

.list__item::marker {
	font-size: var(--primary-size);
	font-family: var(--font-family--serif);
	color: var(--primary-color);
}

.list__item + .list__item {
	margin-block-start: 1.5rem;
}

.list__item > * {
	margin: 0;
	padding: 0;
}

/*
	Additional text uses a div container with a child paragraph because of Markdown rendering.
    This clears any internal paragraph margin.
 */
.list__item > * > p {
	margin-block-start: 0;
}

.list__item > * + * {
	margin-block-start: 0.5rem;
}
